.wrapDiv{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(0, 65vh) minmax(0, 35vh);
}

.exampleItem{
    background-color: #209bd1ff;
    position: absolute;
    width: 200px;
    height: 200px;
}

#itemToDrag{
    cursor: grab;
}

.timelineSection{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}

.timelineWrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 25%) minmax(0, 75%);
}

.timelineAttributes{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(0, 6vh) minmax(0, 29vh);
}

.timelineOptions{
    width: 100%;
    height: 100%;
    background-color: #dbf4ff;
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 20%) minmax(0, 30%);
    border-bottom: .2vh solid #81a0ad;
}

.timelineOptionsButtons{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 1.5vh;
    padding: 1vh 1.5vh;
}

.timelineOptionsRecordButton{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ff5959;
    border-radius: 1vh;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}

.timelineOptionsRecord{
    height: 70%;
    stroke-width: .35vh;
    width: auto;
}

.timelineOptionsPlayButton{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #20A4F3;
    border-radius: 1vh;
    font-weight: 600;
    font-kerning: 10pt;
    cursor: pointer;
    color: #ffffff;
}

.timelineOptionsPlay{
    height: 50%;
    stroke-width: .3vh;
    width: auto;
}

.timelineOptionsAddButton{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    color: #20A4F3;
}

.timelineOptionsAdd{
    height: 50%;
    stroke-width: .3vh;
    width: auto;
}

.timelineOptionsRecord g path:first-child{
    stroke: none;
}

.timelineOptionsRuler{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 1vh;
    color: #5c6f77;
}

.timelineOptionsRulerLabel{
    width: 100%;
    text-align: right;
}

.timelineObjects{
    background-color: #AAFFE5;
    overflow-y: scroll;
}

.timelineObjectsList{
    height: auto;
    padding-bottom: 1.5vh;
}

.timelineObject{
    position: relative;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-bottom: .23vh solid #81a0ad;
    padding: 0 2vh;
}

.timeline{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(0, 6vh) minmax(0, 29vh);
}

.timelineRuler{
    width: 100%;
    height: 100%;
    background-color: #e0e5e9;
    border-bottom: .3vh solid #9eb2bb;
    overflow-x: scroll;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.timelineRulerDiv{
    height: 100%;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.timelineRuler::-webkit-scrollbar{
    display: none;
}

.timelineRulerTimestamps{
    min-width: 100px;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    vertical-align: bottom;
    justify-content: flex-end;
    border-right: .3vh solid #9eb2bb;
    padding-right: 1vh;
    padding-bottom: .5vh;
    color: #99b2bd;
    font-weight: 700;
    font-size: 2.5vh;
    height: 80%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.timelineSheet{
    width: 100%;
    background-color: #f2f6fa;
    overflow: scroll;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.timelineCursor{
    cursor: pointer;
    position: absolute;
    height: 100%;
    background-color: turquoise;
    z-index: 5;
    width: .5vh;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.keyFrame{
    cursor: pointer;
    position: absolute;
    background-image: url("./keyframe.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 4.4vh;
    height: 90%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}