.wrapDiv{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(0, 65vh) minmax(0, 35vh);
}

.exampleItem{
    background-color: #0084ff;
    position: absolute;
    width: 200px;
    height: 200px;
}

#itemToDrag{
    cursor: grab;
}

.timelineSection{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}

.timelineWrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 25%) minmax(0, 75%);
}

.timelineAttributes{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(0, 6vh) minmax(0, 29vh);
}

.timelineOptions{
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 20%) minmax(0, 30%);
}

.timelineOptionsButtons{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    gap: 1.5vh;
    padding: 1vh 1.5vh;
}

.timelineOptionsRecordButton{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ff1908;
    border-radius: 1vh;
    font-weight: 800;
    cursor: pointer;
    color: #ffffff;
}

.timelineOptionsRecord{
    height: 70%;
    stroke-width: .35vh;
    width: auto;
}

.timelineOptionsPlayButton{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0084ff;
    border-radius: 1vh;
    font-weight: 800;
    font-kerning: 10pt;
    cursor: pointer;
    color: #ffffff;
}

.timelineOptionsPlay{
    height: 45%;
    stroke-width: .3vh;
    width: auto;
}

.timelineOptionsAddField{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    font-weight: bold;
    padding: 1vh 0;
}

.timelineOptionsAddButton{
    background-color: #0084ff;
    cursor: pointer;
    border-radius: 100vh;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

.timelineOptionsAddButton svg{
    fill: #fff;
    stroke: white;
    stroke-width: 10vh;
}

.timelineOptionsAdd{
    height: 50%;
    stroke-width: .3vh;
    width: auto;
}

.timelineOptionsRecord g path:first-child{
    stroke: none;
}

.timelineOptionsRuler{
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: .8vh;
    text-align: right;
    padding-right: 2vh;
    color: #0173dd;
}

.timelineOptionsRulerLabel{
    width: 100%;
    text-align: right;
}

.timelineObjects{
    background-color: #ffffff;
    overflow-y: scroll;
}

.timelineObjectsList{
    height: auto;
    padding-bottom: 1.5vh;
}

.timelineObject{
    position: relative;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    border-bottom: .23vh solid #b9b9b9;
    padding: 0 2vh;
}

.timeline{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: minmax(0, 6vh) minmax(0, 29vh);
}

.timelineRuler{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    overflow-x: scroll;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.timelineRulerDiv{
    height: 100%;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.timelineRuler::-webkit-scrollbar{
    display: none;
}

.timelineRulerTimestamps{
    min-width: 100px;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    vertical-align: bottom;
    justify-content: flex-end;
    border-right: .45vh solid #0084ff;
    padding-right: 1vh;
    padding-bottom: .5vh;
    color: #0084ff;
    font-weight: 700;
    font-size: 2.5vh;
    height: 60%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.timelineSheet{
    width: 100%;
    background-color: #f2f2f2;
    overflow: scroll;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.timelineCursor{
    cursor: pointer;
    position: absolute;
    z-index: 3;
    bottom: 0;
    height: 100%;
    background-image: url("./cursor.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 5;
    width: 3vh;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.keyFrame{
    cursor: pointer;
    position: absolute;
    background-image: url("./keyframe.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 4.4vh;
    height: 65%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}