*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 2vh;
}

body{
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 1vh;
    height: 1.5vh;
}

::-webkit-scrollbar-track {
    background-color: #a4b0b4;
}
 
::-webkit-scrollbar-thumb {
    background: #5c6f7766;
}

::-webkit-scrollbar-thumb {
    background: #5c6f7766;
}